// .product {
//   padding: 1rem;
//   display: flex;
//   flex-direction: row;
//   height: 100vh;
// }

// .card {
//   &__image {
//     display: flex;
//     flex-direction: row;
//     gap: 3rem;
//     max-width: 100%;
//     &--main {
//       max-width: 50%;
//       max-height: 90vh;
//     }
//     &--multiple {
//       &-single {
//         display: flex;
//         flex-direction: column;
//         gap: 2rem;
//         width: 10rem;
//         height: 10rem;
//         &-main:hover {
//           cursor: pointer;
//           box-shadow: 2px 2px 5px gray;
//         }
//       }
//     }
//   }
// }

.product {
  display: flex;
  flex-direction: row;

  &__image {
    display: flex;
    flex-direction: row;

    &--multiple {
        max-width: 50%;
      &-single {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 10rem;
        height: 10rem;
        &-main:hover {
          cursor: pointer;
          box-shadow: 2px 2px 5px gray;
        }
      }
    }
  }
}
